body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-x: hidden !important;
  font-size: 8pt;
}

header {
  background: #12325a center center;
  color: #fff;
  padding: 5px;
  height: 50px;
}

#logo {
  padding: 5px;
  background: #fff;
  border-radius: 8px;
  float: left;
  margin-left: 10px;
  margin-top: 15px;
  margin-right: 10px; /* Add this line */
}

#logo_text {
  font-size: 12pt;
  font-weight: 600;
  margin-left: 10px;
  margin-top: -8px;
}

#container {
  height: 100%;
  width: 100%;
  font-size: 0;
}

#content {
  background: #fff;
  color: #000;
  padding: 1px;
  min-height: 400px;
  margin: 1px;
  margin-top: 3px !important;
}

#buttons {
  text-align: right;
  width: 12%;
  margin-top: 7px;
  margin-left: 16px;
}

#apps,
#buttons,
#headnote {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
}

#headnote {
  width: 11%;
}

#headnote img {
  margin-top: 0px;
  margin-bottom: 0;
}

#dropdownMenu {
  /* display: none; */
  position: absolute;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 4px;
  margin-top: 4px;
  margin-left: 4px;
  z-index: 100;
}

.dropdownMenu a {
  display: flex;
  color: black;
  font-weight: 700;
  font-size: 12pt;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-indent: none;
}

.customApp a {
  display: flex;
  color: black;
  font-weight: 500;
  font-size: 12pt;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-indent: none;
}

.customApp li {
  justify-content: space-between;
}

#dropdownMenu a {
  display: flex;
  color: black;
  font-weight: 700;
  font-size: 12pt;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-indent: none;
}

#dropdownMenu li {
  justify-content: space-between;
}

#download {
  width: 70%;
  margin-left: 15%;
}

#apps {
  margin-top: 8px;
  margin-left: 8px;
}

@media screen and (max-width: 1520px) {
  #headnote {
    display: none;
  }
}

@media screen and (max-width: 1320px) {
  #apps button {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-indent: -9999px;
  }

  #buttons {
    width: 25%;
  }
}

.twoColumn {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;

  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.modal {
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  border-radius: 0.25rem;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.link-SchulCloud {
  background-color: #ffc012 !important;
}

.link-Moodle {
  background-color: #ffa010e1 !important;
}

.link-BigBlueButton {
  background-color: #1f1370 !important;
}

.link-Outlook {
  background-color: #0078d7 !important;
}

.link-WebUntis {
  background-color: #ff9900 !important;
}

.link-Office {
  background-color: #8047b1 !important;
}

.link-CryptPad {
  background-color: #059ba994 !important;
}

.link-TaskCards {
  background-color: #46798e !important;
}

.link-BBZWiki {
  background-color: #4171d9 !important;
}

.link-BBZHandbuch {
  background-color: #156b49ed !important;
}

.link-Issues,
#checkbox-Issues {
  display: none;
}

h1,
h2,
h3 {
  font-weight: 300;
  color: #ffb606;
  line-height: 1;
}

h1 {
  font-size: 12pt;
  line-height: 0;
  padding-top: 8px;
  padding-left: 10px;
}

.loader {
  width: 48px;
  height: 40px;
  margin-top: 30px;
  display: inline-block;
  position: relative;
  background: #fff;
  border-radius: 15% 15% 35% 35%;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 45px;
  top: 8px;
  border: 4px solid #fff;
  width: 16px;
  height: 20px;
  border-radius: 0 4px 4px 0;
}

.loader::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 10px;
  color: #fff;
  top: -15px;
  left: 11px;
  box-sizing: border-box;
  animation: animloader 1s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 2px 0px rgba(255, 255, 255, 0),
      12px 0px rgba(255, 255, 255, 0.3), 20px 0px rgba(255, 255, 255, 0);
  }

  50% {
    box-shadow: 2px -5px rgba(255, 255, 255, 0.5),
      12px -3px rgba(255, 255, 255, 0.5), 20px -2px rgba(255, 255, 255, 0.6);
  }

  100% {
    box-shadow: 2px -8px rgba(255, 255, 255, 0),
      12px -5px rgba(255, 255, 255, 0), 20px -5px rgba(255, 255, 255, 0);
  }
}

#loading,
#error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#loading small {
  margin-left: 7px;
}

#main {
  text-align: center;
}

.app img {
  width: 20px;
  display: inline-flex;
  height: 20px;
  padding: 4px;
  /* background: #fff; */
}

.app {
  display: inline-flex;
  height: 30px;
  line-height: 30px;
  display: inline-flex;
  text-align: left;
  vertical-align: middle;
  border: none;
  margin-right: 3px;
  padding-right: 9px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.wv {
  display: inline-flex;
  width: calc(100vw + 2px);
  height: calc(100vh - 60px);
  margin-left: -4px;
  margin-top: -4px;
}

#settings {
  background-color: #12325a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0 -20px;
  margin-top: -20px;
  padding: 20px;
}

#settingsb,
#dropdownb {
  background: #fff;
  padding: 4px;
  border-radius: 4px;
  width: 21px;
  height: 21px;
  margin-top: 8px;
  margin-left: 4px;
  cursor: pointer;
}

@media (max-height: 900px) {
  .wv {
    width: calc(100vw + 3px) !important;
    height: calc(100vh - 60px) !important;
  }
}

#settingsv {
  text-align: left !important;
  padding: 20px;
  background: #173a64;
  color: #fff;
  border-radius: 4px;
  width: 70%;
  margin: 20px auto;
}

input {
  margin: 0.4rem 0;
  margin-right: 0.4rem;
}

#settingsv button {
  display: block;
  background: #173a64;
  color: #fff;
  border: 1px solid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11pt;
  padding: 5px;
  border-radius: 3px;
  margin: 6px 0;
  margin-top: 40px;
}

#settingsv h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 22pt;
  margin-left: -10px;
}

#settingsv h2 {
  margin-top: 40px;
  margin-bottom: 0;
}

.error {
  color: red;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11pt;
}

/* smalltalk */
.smalltalk {
  background: #173a64 !important;
}

.smalltalk .page {
  box-shadow: none !important;
  border: 3px solid #ccc;
}

.smalltalk header {
  text-shadow: none !important;
  color: #000 !important;
  font-size: 14pt !important;
  background: transparent;
}

#updateButton {
  background: #ffb606 !important;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 4px;
  margin-top: 7px;
}
